.bar {
    height: 50px;
    width: 10px;
    background: url(bg_bar3.png) 0 0;
    background-size: 5px 100px;
    position: absolute;
    transform-origin: 5px -5px 0;
    transition: 0.1s all ease;
    max-height: 70px !important;
}

#bars {
    position: absolute;
    top: 200px;
    left: 200px;
}