#bars {
    position: absolute;
    left: 200px;
    top: 200px;
}

.bar {
    position: absolute;
    background: url("bg_bar.png");
    background-size: 10px 100px;
    width: 10px;
    height: 100px;
    transform-origin: 5px -5px;
    min-height: 10px;
    transition: 0.1s height;
}