extends layout

block content
    h1= title
        |  Twitter Live Feed
    p Welcome to #{title}

    input#chooseFilter
    button#letsGo Start
    button#stopStream Stop

    .content
        h2 Total Tweets:
            span#overall
        h4(style='color:green') Retweets:
            span#retweets
        h4(style='color:blue') Replies:
            span#replies
        h4(style='color:blue') Replies to live tweets:
            span#repliesToParent
        h4 Locations (Geo enabled):
            span#locationsTweet
        h4 Locations (User geocoded via geonames):
            span#locationsUser
        h4 Connections:
            span#connections
        h4 Hashtags:
            span#hashtags
    div#twitterStream
        ul#hashtagList
        ul#connectionList
        ul#tweets