<!DOCTYPE html>
<html lang="de">
<head>
    <title>Speech API Test</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" type="text/css">

    <script src="lib/annyang.min.js"></script>

    <script src="lib/underscore-min.js"></script>
    <script src="lib/jquery-2.1.0.min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script src="lib/backbone.localStorage.js"></script>

    <script type="text/template" id="commandTemplate">
        <em><%= time %></em>: <span class="view"><%= command %></span>
    </script>
</head>
<body>
<header></header>
<main>
    <h1>Speech API Test</h1>
    <p id="annyang-message"></p>
    <div id="listening"></div>
    <div class="move"></div>
    <ul id="commands"></ul>
    <button id="save">Save Command</button>
    <button id="clear">Delete All Commands</button>
</main>
<footer></footer>

<script src="js/command.js"></script>
<script src="js/commandList.js"></script>
<script src="js/commandView.js"></script>
<script src="js/appView.js"></script>
<script src="js/main.js"></script>

</body>
</html>